/* Establishing root CSS variables */
:root {
  --pride-gradient: linear-gradient(
    45deg,
    rgba(228, 3, 3, 0.2),
    rgba(255, 140, 0, 0.2),
    rgba(255, 237, 0, 0.2),
    rgba(0, 128, 38, 0.2),
    rgba(0, 77, 255, 0.2),
    rgba(117, 7, 135, 0.2)
  );
}

/* Basic settings for body */
body {
  font-family: 'Optima';
  line-height: 1.9;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background: black;
}

/* Navbar styles */
nav {
  background: rgba(86, 102, 178, 1);
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 30px;
  box-shadow: 0 2px 10px rgba(9, 24, 137, 0.1);
  border-radius: 50px;
}

/* Styles for logo in nav */
nav .logo {
  display: flex;
  align-items: center;
  margin-right: auto;
}

/* Styles for logo's image in nav */
nav .logo img {
  height: 70px; /* Adjust size as needed */
}

/* Styles for menu icon in nav */
nav .menu-icon {
  display: none;
  cursor: pointer;
  margin-right: auto;
}

/* Styles for nav right section */
nav .nav-right {
  display: flex;
  align-items: center;
}

/* Styles for navigation links */
nav ul.nav-links {
  list-style: none;
  display: flex;
  margin-right: 20px;
}

/* Style for each navigation link */
nav ul.nav-links li {
  display: inline;
  margin-left: 20px;
}

/* Styles for link tags inside nav */
nav ul.nav-links li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* Styles for social media links in nav */
nav .socials {
  display: flex;
  align-items: center;
}

/* Styles for link tags inside socials */
nav .socials a {
  color: rgb(255, 255, 255);
  margin-left: 10px;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.5s;
}

/* Styles when hovering over social media links */
nav .socials a:hover {
  color: #de68ff;
}

/* Styles for footer */
footer {
  color: var(--pride-gradient);
  background-color: var(--pride-gradient);
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

/* Mobile responsive styles */
@media (max-width: 600px) {
  nav ul.nav-links {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 60px;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  nav ul.nav-links li {
    display: block;
    /* Styles for navigation links item in mobile view */
    margin: 20px 0;
  }

  /* Display menu icon in mobile view */
  nav .menu-icon {
    display: block;
  }

  /* Keep social icons visible in mobile view */
  nav .socials {
    display: flex;
  }

  p {
    width: 100%;
  }
}

/* Global link style */
a {
  color: #de68ff;
  text-decoration: none;
}

/* Container for content, limits the max width */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 0px;
}

/* Generic section padding */
section {
  padding: 45px 45px;
  border-radius: 50px;
}

/* Class for backgrounds with a pride gradient */
.rainbow {
  background: var(--pride-gradient);
}

/* Global styles for heading tags */
h1,
h2,
h3 {
  margin-bottom: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
  max-width: 500px;
}

/* Global styles for paragraph tags */
p {
  margin-bottom: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
  max-width: 500px;
}

/* Global styles for images */
img {
  border-radius: 50px;
  max-width: 100%;
  height: auto;
}

/* Special classes for colored text with white shadow */
.specialred,
.specialorange,
.specialyellow,
.specialgreen,
.specialblue,
.specialindigo,
.specialpurple {
  /* 1 pixel white shadow to left, top, right and bottom */
  /* text-shadow: -0px 0 white, 0 0px white, 0px 0 white, 0 -0px white;  */
  /* make 2 times larger than normal text */
  font-size: 2em;
}

.specialred {
  color: rgba(203, 77, 61);
}

.specialorange {
  color: rgba(229, 172, 73);
}

.specialyellow {
  color: rgba(249, 219, 79);
}

.specialgreen {
  color: rgba(96, 170, 86);
}

.specialblue {
  color: rgba(82, 181, 220);
}

.specialindigo {
  color: rgba(85, 100, 155);
}

.specialpurple {
  color: rgba(130, 87, 140);
}

/* Styles for concert section */
.concert {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Styles for header within concert section */
.header {
  margin-bottom: 20px;
}

/* Styles for content within concert section */
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

/* Styles for details within concert section */
.details {
  flex: 1;
  margin-right: 20px;
  max-width: 400px; /* Adjust the max width as needed */
}

/* Styles for thumbnail within concert section */
.thumbnail {
  flex: 0 0 300px; /* Adjust the size of the thumbnail as needed */
  margin-top: 20px;
  text-align: center;
}

/* Styles for image
    
/* Styles for image within thumbnail section in concert section */
.thumbnail img {
  width: 100%;
  height: auto;
}

/* Styles for navigation links and footer links on hover */
nav ul.nav-links li a:hover,
footer a:hover {
  color: #de68ff;
}
